/* Base style applied across all pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
a {
text-decoration: none;
}
.tomarnav {
    background: rgba(255, 255, 255, 0.97);
    box-shadow: 0 2px 2px -1px rgba(22, 16, 16, 0.2);
}
.subscribe {
    border-radius: 30px;
    font-size: 0.9rem;
    margin-left: 10px;
    font-weight: 600;
    padding: 5px 10px;
    margin-bottom: 0;
}
#signup {
    color: #fff;
}
.dot:after {
content: "·";
margin-left: 5px;
margin-right: 5px;
}
.hero {
    background: #eae7dc;
}
.card:hover {
    box-shadow: 0 10px 28px #E3E7EB;
}
.card-title a {
    color: inherit;
}
.read-more span {
    display: none;
}
.read-more:hover span {
    display: inline;
}
.category {
    color: #555;
}
.author-link {
    color: #555;
    font-weight: bold;
}
.category:hover, .author-link:hover {
    color: #111;
}
.bookmark {
    all: unset;
    padding: 0 5px;
    border-radius: 50%;
}
.upvote, .downvote {
    all: unset;
    padding: 0 5px;
}
.react {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 1px 8px;
}
.bookmark:hover {
    cursor: pointer;
}
.follow {
    padding: 2px 10px;
    border-radius: 15px;
}
.category-detail {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    padding: 5px 10px;
}
.category-detail:hover {
    color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.07);
    text-decoration: none;
}
.article-post {
    font-family: Merriweather;
    font-size: 1.2rem;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.8);
}
.article-post p,
.article-post blockquote {
  margin: 0 0 1.5rem 0;
}
#arrowonhover span {
    display: none;
}
#arrowonhover:hover span {
    display: inline-block;
}

/* Account page styles */
.a-hero {
    background: #eae7dc;
}
.category-btn {
    background: rgb(238, 238, 238);
    color: #444;
    border-radius: 10px;
    padding: 5px 8px;
    text-align: center;
    margin-right: 10px;
}
#div_id_first_name, #div_id_last_name {
    width: 100%;
}
footer {
    background-color: rgb(240, 238, 238);
}
.footer-links a:hover {
    text-decoration: underline;   
}
#id_content {
    height: 120px;
}
.comment-content{
    color: #444;
    font-size: 0.9rem;
}
/* Responsive */
@media screen and (min-width: 768px) {
    #div_id_first_name, #div_id_last_name {
        width: 47.5%;
        display: inline-block;
    }
    #div_id_first_name {
        margin-right: 2%;
    }
    #div_id_last_name {
        margin-left: 2%;
    }
    .action, .comment-action {
        display: none;
    }
    .mycard:hover .action {
        display: inline-block;
    }
    .comment:hover .comment-action{
        display: inline-block;
    }
}