{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Password reset complete {% endblock %}

{% block main %}
{% include "navbar.html" %}

<div class="container-fluid main">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-4 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5" style="box-shadow: 0 0 10px rgba(71, 71, 71, 0.4);">
          <h5 class="card-title mb-4 fw-light fs-5">Password reset complete</h5>
          <hr class="my-4" />
          <p>
            Your password has been reset successfully! You can now
            <a href="{% url 'accounts:login' %}"> Sign in to your account</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}