{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Password Reset Confirm {% endblock %}

{% block main %}
{% include "navbar.html" %}

<div class="container-fluid main">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5" style="box-shadow: 0 0 10px rgba(71, 71, 71, 0.4);">
          <h5 class="card-title text-center mb-5 fw-light fs-5">New Password</h5>
          <form method="POST"> {% csrf_token %}
            {{ form|crispy }}

            <div class="d-grid">
              <button class="btn btn-primary btn-block" type="submit"> Reset password </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}