{% extends "base.html" %}
{% load static %}

{% block title %} Password Reset sent {% endblock %}

{% block main %}
{% include "navbar.html" %}

<div class="container-fluid main">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-4 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5" style="box-shadow: 0 0 10px rgba(71, 71, 71, 0.4);">
          <h5 class="card-title mb-4 fw-light fs-5">Password reset instruction sent</h5>
          <hr class="my-4" />
          <p>
            An email with instructions on how to reset your password has been sent to the email address you provide.
            Check your inbox.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}
{% endblock %}