{% extends "base.html" %}
{% block title %} Draft posts {% endblock %}

{% block main %}
{% include "navbar.html" %}

<div class="container-fluid">
    <div class="row">
        <div class="container pt-4">
            <!-- Author posts -->
            {% if draft_posts|length > 0 %}
            {% for post in draft_posts %}
            <div class="col-12 col-lg-6 mx-auto">
                <div class="mycard">
                    <div class="d-flex flex-column">
                        <h4 class="card-title">
                            <a href="{% url 'blog:post-detail' post.slug %}" class="mb-2 lh-sm">{{ post.title }}</a>
                        </h4>
                    </div>
                    <div class="mb-0 text-muted d-flex align-items-end align-items-md-center justify-content-between">
                        <div>
                            <a class="d-none d-md-inline category-btn"
                                href="{% url 'blog:category' post.category.slug %}">{{ post.category }}</a>
                            <span>Feb 12</span><span class="dot"></span><span>5 min read</span>

                        </div>
                        {% if request.user == post.author %}
                        <div class="action">
                            <a href="{% url 'blog:post-update' post.slug %}" title="Edit post"><i
                                    class="far fa-edit"></i></a>
                            <a href="{% url 'blog:post-delete' post.slug %}" class="ms-1" title="Delete post"><i
                                    class="fas fa-trash"></i></a>
                        </div>
                        {% else %}
                        <button class="bookmark" title="Bookmark story">
                            <i class="far fa-bookmark"></i>
                        </button>
                        {% endif %}
                    </div>
                </div>
                <!-- End author post -->
                <hr class="my-3" />
            </div>
            {% endfor %}
            {% else %}
            <div class="col-12 col-lg-6 mx-auto">
                <p>You don't have any draft posts yet. Start writing to edit it any time.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}