{% extends "base.html" %}
{% load static %}
{% load post_read_time %}

{% block title %} Profile {% endblock %}

{% block main %}
{% include "navbar.html" %}

<div class="container-fluid a-hero">
    <div class="row">
        <div class="container pt-2 pb-3">
            <div class="col-md-7 mx-auto">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show pb-2" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="flex-grow-1 pt-2">
                    <div class="d-flex align-items-center justify-content-center justify-content-md-start mb-0">
                        <span class="me-2 fs-4">{{ user.get_full_name }}</span>
                        {% if request.user == user %}
                        <a href="{% url 'accounts:update-profile' user.uid %}" title="Update your profile"><i
                                class="fas fa-user-edit ms-2"></i></a>
                        {% elif request.user in user.profile.followers %}
                        <button class="btn btn-sm btn-outline-primary follow" value="{{ user.pk }}">Following</button>
                        {% else %}
                        <button class="btn btn-sm btn-primary follow" value="{{ user.pk }}">Follow</button>
                        {% endif %}
                    </div>
                    <p class="text-md-start text-center">
                        {{ user.profile.title }}
                    </p>
                    <div class="text-muted text-md-start text-center mt-2">
                        <span>{{ user.profile.followers|length }} Followers</span><span
                            class="dot"></span><span>{{ user.profile.following|length }}
                            Following</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row pt-4">
        <div class="col-md-8">
            <!-- Author posts -->
            {% if author_posts|length > 0 %}
            {% for post in author_posts %}
            <div class="col-12 col-lg-9 mx-auto">
                <div class="mycard">
                    <div class="d-flex flex-column">
                        <h4 class="card-title">
                            <a href="{% url 'blog:post-detail' post.slug %}" class="mb-2 lh-sm">{{ post.title }}</a>
                        </h4>
                        <p class="card-text mb-2 lh-base">
                            {{ post.content|truncatechars_html:130|safe }}
                        </p>
                    </div>
                    <div class="mb-0 text-muted d-flex align-items-end align-items-md-center justify-content-between">
                        <div>
                            <a class="d-none d-md-inline category-btn"
                                href="{% url 'blog:category' post.category.slug %}">{{ post.category }}</a>
                            <span>{{ post.last_update|date:"M d" }}</span><span
                                class="dot"></span><span>{{ post.content|readtime }}</span>
                        </div>
                        {% if request.user == post.author %}
                        <div class="action">
                            <a href="{% url 'blog:post-update' post.slug %}" title="Edit post"><i
                                    class="far fa-edit"></i></a>
                            <a href="{% url 'blog:post-delete' post.slug %}" class="ms-1" title="Delete post"><i
                                    class="fas fa-trash"></i></a>
                        </div>
                        {% else %}
                        {% csrf_token %}
                        <button class="bookmark" value="{{ post.pk}}" title="Bookmark story">
                            <i class="far fa-bookmark"></i>
                        </button>
                        {% endif %}
                    </div>
                </div>
                <!-- End author post -->
                <hr class="my-3" />
            </div>
            {% endfor %}
            <br>
            <div class="container my-5 pb-5 d-flex justify-content-center">
                <div class="pagination">
                    {% if page_obj.has_previous %}
                    <a href="?page=1" class="mx-2 ps-1" title="First Page"><i class="fas fa-angle-double-left"></i></a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="mx-2 px-1" title="Previous Page"><i
                            class="fas fa-angle-left"></i></a>
                    {% endif %}

                    {% if author_posts|length > 10 %}
                    <span class="current mx-2">
                        {{ page_obj.number }}
                    </span>
                    {% endif %}

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="mx-2 px-1" title="Next Page"><i
                            class="fas fa-angle-right"></i></a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="mx-2 pe-1" title="Last Page"><i
                            class="fas fa-angle-double-right"></i></a>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <div class="col-12 col-lg-7 mx-auto">
                <p>Sorry! {{ user.first_name }} doesn't have any posts published yet.</p>
            </div>
            {% endif %}
        </div>
        <div class="col-md-3">
            <h4>About me</h4>
            <p>{{ user.profile.about }}</p>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'accounts/js/app.js' %}"></script>
{% endblock %}