{% extends "base.html" %}
{% load static %}
{% load post_read_time %}

{% block title %} Saved posts {% endblock %}

{% block main %}
{% include "navbar.html" %}

<div class="container-fluid">
    <div class="row">
        <div class="container pt-4">
            <!-- Author posts -->
            {% if bookmarks|length > 0 %}
            {% for bookmark in bookmarks %}
            <div class="col-12 col-lg-6 mx-auto">
                <div class="mycard">
                    <div class="d-flex flex-column">
                        <h4 class="card-title">
                            <a href="{% url 'blog:post-detail' bookmark.post.slug %}"
                                class="mb-2 lh-sm">{{ bookmark.post.title }}</a>
                        </h4>
                    </div>
                    <div class="mb-0 text-muted d-flex align-items-end align-items-md-center justify-content-between">
                        <div>
                            <a class="d-none d-md-inline category-btn"
                                href="{% url 'blog:category' bookmark.post.category.slug %}">{{ bookmark.post.category }}</a>
                            <span>{{ bookmark.post.last_update|date:"M d" }}</span><span
                                class="dot"></span><span>{{ bookmark.post.content|readtime }}</span>
                        </div>
                        {% csrf_token %}
                        <button class="bookmark" value="{{ bookmark.post.pk}}" title="Bookmark story">
                            <i class="fas fa-bookmark"></i>
                        </button>
                    </div>
                </div>
                <!-- End author post -->
                <hr class="my-3" />
            </div>
            {% endfor %}
            {% else %}
            <div class="col-12 col-lg-6 mx-auto">
                <p>You don't have any saved posts. Click the bookmark icon to save posts.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'accounts/js/app.js' %}"></script>
{% endblock %}