{% extends "base.html" %}
{% block title %} Explore posts in {{ category_posts.0.category.name }} {% endblock %}

{% block main %}

{% include "navbar.html" %}

<div class="container-fluid main">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-7">
                {% if category_posts|length != 0 %}
                <h3 class="mx-auto mb-5">{{ category_posts.0.category.name }} ({{ category_posts|length }}) </h3>
                {% else %}
                <h4>Currently no posts are published in this category.</h4>
                <a href="{% url 'blog:post-create' %}">Start writing</a>
                {% endif %}
                {% for post in category_posts %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title mb-0"><a
                                href="{% url 'blog:post-detail' post.slug %}">{{ post.title }}</a></h4>
                        <div class="small text-muted">
                            <a href="{% url 'accounts:profile' post.author.uid %}"
                                class="author-link">{{ post.author.get_full_name }}</a>
                            <span>&nbsp;|&nbsp;</span>
                            <span>Feb 12</span><span class="dot"></span><span>5 min read</span>
                        </div>
                        <p class="card-text mt-1 text-muted">With supporting text below as a natural lead-in to
                            additional content.
                            With supporting text below as a natural lead-in to additional content...</p>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'blog:post-detail' post.slug %}" class="read-more">Read more
                                <span>&rarr;</span></a>
                            <button class="bookmark" title="Bookmark story">
                                <i class="far fa-bookmark"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <br>
                <div class="container my-5 pb-5 d-flex justify-content-center">
                    <div class="pagination">
                        {% if page_obj.has_previous %}
                        <a href="?page=1" class="mx-2 ps-1" title="First Page"><i
                                class="fas fa-angle-double-left"></i></a>
                        <a href="?page={{ page_obj.previous_page_number }}" class="mx-2 px-1" title="Previous Page"><i
                                class="fas fa-angle-left"></i></a>
                        {% endif %}

                        <span class="current mx-2">
                            {{ page_obj.number }}
                        </span>

                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="mx-2 px-1" title="Next Page"><i
                                class="fas fa-angle-right"></i></a>
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="mx-2 pe-1" title="Last Page"><i
                                class="fas fa-angle-double-right"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4 d-none d-lg-block">
                <div class="position-sticky" style="top: 2rem">
                    <div class="p-4">
                        <h4>Other</h4>
                        <div class="d-flex flex-wrap popularcategory">
                            {% for category in popular_categories %}
                            {% if category.name != category_posts.0.category.name %}
                            <a href="{% url 'blog:category' category.slug %}"
                                class="btn btn-outline-secondary m-1">{{ category.name }}</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}