{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Edit your comment {% endblock %}

{% block main %}
{% include "navbar.html" %}

<div class="container-fluid main">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="card border-0 shadow rounded-3 mt-3 mb-5">
                    <div class="card-body p-2 p-sm-5" style="box-shadow: 0 0 5px rgba(71, 71, 71, 0.4);">
                        <h5 class="card-title mb-4 fw-light fs-5">Edit Your Comment</h5>
                        <form method="POST"> {% csrf_token %}
                            {{ form|crispy }}
                            <div class="mt-5">
                                <button class="btn btn-primary me-2" type="submit" id="submitBtn">Update</button>
                                <a class="btn btn-secondary" href="{% url 'blog:comment-list' comment.post.slug %}">Cancel </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}