{% extends "base.html" %}
{% load static %}
{% load post_read_time %}

{% block title %} {{ post.title }} {% endblock %}

{% block main %}
{% include "navbar.html" %}

<div class="container py-4">
    <div class="row">
        <div class="col-lg-7 mx-auto">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show pb-2" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            <article class="blog-post">
                <h1 class="post-title">{{ post.title }}</h1>
                <div class="text-muted d-flex align-items-end justify-content-between">
                    <div class="d-flex">
                        <div>
                            <div class="text-muted">
                                <span>{{ post.last_update|date:"M d" }}</span><span class="dot"></span>
                                <span>{{ post.content|readtime }}</span>
                            </div>
                        </div>
                    </div>
                    {% if request.user == post.author %}
                    <div>
                        <a href="{% url 'blog:post-update' post.slug %}" title="Edit post"><i
                                class="far fa-edit"></i></a>
                        <a href="{% url 'blog:post-delete' post.slug %}" class="ms-1" title="Delete post"><i
                                class="fas fa-trash"></i></a>
                    </div>
                    {% else %}
                    {% csrf_token %}
                    <button class="bookmark" value="{{ post.pk }}" title="Bookmark story">
                        <i class="far fa-bookmark"></i>
                    </button>
                    {% endif %}
                </div>
                <div class="article-post mt-2">
                    {{ post.content|safe }}
                </div>
                <div class="mt-5">
                    <span class="me-2"><strong>Tags: </strong></span>
                    <a href="{% url 'blog:category' post.category.slug %}"
                        class="category-detail">{{ post.category }}</a>
                </div>
                <div class="py-4 my-4 border-top border-bottom">
                    <div class="row">
                        <div class="col-8 d-flex">
                            <div class="me-3 react">
                                {% csrf_token %}
                                <button class="d-flex upvote" value="{{ post.pk }}">
                                    <span class="text-muted"><i
                                            class="far fa-heart text-primary me-2"></i>{{ post.like_set.count }}</span>
                                </button>
                            </div>
                            <a href="{% url 'blog:comment-list' post.slug %}" class="text-muted" title="Commnets"><i
                                    class="far fa-comment-dots me-1"></i>
                                <span>{{ post.comments.count }}</span></a>
                        </div>
                        <div class="col-4 d-flex justify-content-end">
                            <span class="me-2">Share: </span>
                            <a href="#" title="Share to Telegram"><i class="fab fa-telegram me-1"></i></a>
                            <a href="#" title="Share to Facebook"><i class="fab fa-facebook me-1"></i></a>
                            <a href="#" title="Share to LinkedIn"><i class="fab fa-linkedin me-1"></i></a>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-start">
                    <div class="about-author d-flex flex-column">
                        <span class="d-block text-muted small">WRITTEN BY</span>
                        <div class="d-flex align-items-end justify-content-md-between mb-1">
                            <a href="{% url 'accounts:profile' post.author.uid %}"
                                class="author-link my-0 me-2">{{ post.author.get_full_name }}</a>
                            {% if request.user != post.author %}
                            {% if request.user in post.author.profile.followers %}
                            <button class="btn btn-sm btn-outline-primary follow"
                                value="{{ post.author.pk }}">Following</button>
                            {% else %}
                            <button class="btn btn-sm btn-primary follow" value="{{ post.author.pk }}">Follow</button>
                            {% endif %}
                            {% endif %}
                        </div>
                        <div>
                            {{ post.author.profile.title }}
                        </div>
                        <div class="text-muted pe-md-5">
                            {{ post.author.profile.about }}
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="related mt-5">
        <h3>More from Tomar</h3>
        <hr class="my-4" />
        <!-- Related or popular posts goes here -->
    </div>
</div>

{% include "footer.html" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'accounts/js/app.js' %}"></script>
<script src="{% static 'accounts/js/app.js' %}"></script>
{% endblock %}