{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Publish new post {% endblock %}

{% block main %}
{% include "navbar.html" %}

<div class="container-fluid bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 mx-auto">
                <div class="card border-0 shadow rounded-3 mt-3 mb-5">
                    <div class="card-body p-3 p-sm-5" style="box-shadow: 0 0 5px rgba(71, 71, 71, 0.4);">
                        <h5 class="card-title text-center mb-4 fw-light fs-5">Share you ideas to the world</h5>
                        <form method="POST" style="overflow: auto;"> {% csrf_token %}
                            {{ form.media}}
                            {{ form|crispy }}
                            <div>
                                <button class="btn btn-primary mr-2" type="submit" id="submitBtn">Save Draft</button>
                                <a class="btn btn-secondary" href="{% url 'blog:post-list' %}">Cancel </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    // Change active nav element dynamically based on the URL
    $(document).ready(function () {
        const currentUrl = location.pathname;
        $(".navbar-nav li").find("a.active").removeClass("active");
        $(".navbar-nav li").find("a.active").removeAttr("aria-current");
        $('.navbar-nav li a[href="' + currentUrl + '"]').addClass('active');
        $('.navbar-nav li a[href="' + currentUrl + '"]').attr("aria-current", "page");
    });
</script>

<script>
    const status = document.querySelector("#id_status");
    const btn = document.querySelector("#submitBtn");
    status.addEventListener("change", function () {
        if (status.value == 0) {
            btn.innerHTML = "Save Draft";
        } else {
            btn.innerHTML = "Publish";
        }
    })
</script>
{% endblock %}