{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Edit {{ post.title }} {% endblock %}

{% block main %}
{% include "navbar.html" %}

<div class="container-fluid main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5" style="box-shadow: 0 0 5px rgba(71, 71, 71, 0.4);">
                        <h5 class="card-title text-center mb-4 fw-light fs-5">Share you ideas to the world</h5>
                        <form method="POST" style="overflow: auto;"> {% csrf_token %}
                            {{ form.media}}
                            {{ form|crispy }}
                            <div>
                                <button class="btn btn-primary mr-2" type="submit" id="submitBtn">Update</button>
                                <a class="btn btn-secondary" href="{% url 'blog:post-list' %}">Cancel </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const status = document.querySelector("#id_status");
    const btn = document.querySelector("#submitBtn");
    status.addEventListener("change", function () {
        if (status.value == 0) {
            btn.innerHTML = "Save as Draft";
        } else {
            btn.innerHTML = "Update";
        }
    })
</script>


{% endblock %}