<footer class="py-4">
    <div class="container px-md-5 py-4 mt-3">
        <div class="d-flex flex-column flex-md-row mb-3 footer-links">
            <a href="#" class="text-muted me-2 me-md-4">Our Team</a>
            <a href="#" class="text-muted me-2 me-md-4">Terms & Privacy</a>
            <a href="#" class="text-muted me-2 me-md-4">Contact</a>
            <a href="#" class="text-muted me-2 me-md-4">About us</a>
        </div>
        <hr class="my-4">
        <div class="d-flex justify-content-between">
            <p>&copy; 2022 Tomar, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" title="Follow us on LinkedIn" href="#"><i
                            class="fab fa-linkedin"></i></a></li>
                <li class="ms-3"><a class="link-dark" title="Like us on Facebook" href="#"><i
                            class="fab fa-facebook"></i></a></li>
                <li class="ms-3"><a class="link-dark" title="Join us on Telegram" href="#"><i
                            class="fab fa-telegram"></i></a></li>
            </ul>
        </div>
    </div>
</footer>