<div class="container-fluid hero">
    <div class="container px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-lg-7">
                <h1 class="display-4 fw-bold lh-1 mb-3">
                    Tomar is a platform to read, write and connect with others
                </h1>
                <p class="lead">
                    Read stories and turorials, help others by sharing your ideas and
                    build a community that grow together.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="#" class="btn btn-outline-primary btn-lg px-4 me-md-2" id="signup">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>  